.nav a {
  color: #000000;
  font-size: 14px;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  padding: 20px 20px;
  text-transform: uppercase;
}

.nav{background-color:#f7f7f7;
}

.nav li {
  display: inline;
}

.thumbnail{
height:300 px;
}
.siteheader {
  background-image:url(./images/mamtechheader.png);
  height: 230px;
  background-repeat: no-repeat;
  background-position:center;
  background-size: contain;
}

.row{
padding-top:20px;
}

.thumbnail{
margin:auto;}

.sitebody {
font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
border-bottom:1px solid #dbdbdb;
}

.sitebody{
    background-color:#efefef;
    border-bottom:1px solid #dbdbdb;
}

.sitebody p{
    color:#000000;
    font-size:20px;
    margin-bottom:13px;
}

.sitebody ul{
    color:#000000;
    font-size:20px;
    margin-bottom:13px;
}

.sitefooter{
	height:40px;
	color:#000000;
	text-align:center;
    font-size:12px;
	margin-top:20px;
}
